'.text.html.basic':
  'js':
    'prefix': 'js'
    'body': '<script type="text/javascript" charset="utf-8" src="${1:index}.js"></script>'
  'css':
    'prefix': 'css'
    'body': '<link rel="stylesheet" type="text/css" href="/css/${1:style}.css" charset="utf-8">'
  'ogp':
    'prefix': 'ogp'
    'body': """
<meta property="og:title" content="$1">
<meta property="og:type" content="$2">
<meta property="og:url" content="$3">
<meta property="og:image" content="$4">
<meta property="og:site_name" content="$5">
<meta property="og:description" content="$6" />
<meta property="fb:app_id" content="$7">
"""
